:root {
  --green-main: #6b8f71;
  --green-dark: #587a5b;
  --green-deep: #466348;
  --nav-h: 88px;
  --cold-accent: #d4af37;
  --accent: #5b472f;
  --nav-bg: #77644979;
  --txt-color: #ffffff;
  --ink-inv: #fff;
  --testi-maxw: 1100px;
  --testi-speed: 450ms;
  --glass-bg: rgba(255, 255, 255, 0.1);
}
